".source.sdl":
  editor:
    increaseIndentPattern: "^.*\\{[^}\"']*$"
    decreaseIndentPattern: "^(.*\\*/)?\\s*\\}([^}{\"']*\\{)?[;\\s]*(//.*|/\\*.*\\*/\\s*)?$"
    commentStart: "/*"
    commentEnd: "*/"
